.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Grid en 4 secciones iguales*/
    grid-gap: 20px; /* espacio de 20 pixeles entre grids*/
  }